@charset "UTF-8";
@import 'normalize';

$color-main: #ef220f;

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.6;
  word-wrap: break-word;
  color: #444;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.site-header,
.gnavi,
.site-footer,
.site-main section {
  width: 960px;
  margin: 0 auto;
}

.site-main {
  background-color: $color-main;
  color: #fff;
}


